main {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57vh;
    background-color: #f4f4f4;
}

.redirect-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.redirect-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #333333;
}

.redirect-content button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.redirect-content button:hover {
    background-color: #0056b3;
}

.back-to-home {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.back-to-home:hover {
    color: #0056b3;
}
